*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    background-color: #F2F2F2;
}
.hero{
    background-image: url(images/hero-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;

}
.hamburger{
display: none;
}
.hide-ham{
    display: none;
}
.navbar{
    padding: 1.5rem;
    margin: 0 3rem 0 3rem;
    position: relative;
}
.navlist{
    text-align: right;
    justify-content: space-between;
    white-space: nowrap;
}
.navlink{
    text-decoration: none;
    font-size: 1.2rem;
    color: #A6A6A6;
    margin-right: 1rem;
    white-space: nowrap;
}


.hero-text{
    margin-top: 30vh;
    margin-left: 5vw;
    max-width: 467px;
}



.hero-text > h1{
    
    font-size: 3vw;
}
.hero-text > p{
    margin-top: 3vh;
    font-size: 1.2vw;
}
.hire-me{
    margin-top: 3vh;
    width: 200px;
}
.hire-btn{
    border: 1px solid black;
    background: none;
    padding: 20px;
    font-size: 15px;
    width: 189px;
    
}
.media-icon{
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    position: relative;
    top: -70px;
    right: 0;
}
.icon-link{
    margin-bottom: 3vh;
}
.sectionTwo{
    display: flex;
    margin-top: 5vh;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
}
.sectionTwoimg{
    width: 40%;
}
.sectionTwotext{
    width: 60%;
    padding-top: 5vh;
    padding-left: 3vw;
}
.sectionTwotext > h3{
    color: #404040;
    font-size: 2vw;
    margin-bottom: 5vh;

}
.sectionTwotext > p{
    margin-bottom: 5vh;
    line-height: 24px;
    font-size: 1vw;
}
.sectionThree{
    margin-top: 5vh;
}
.sectionThreeup{
    width:100%;
    text-align: center;
}
.sectionThreeup > h3{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
}
.sectionThreeup > p{
    font-size: 1vw;
    text-align: center;
    margin-bottom: 2vh;
}
.sectionThreedown{
    display: grid;
    padding-left: 5vw;
    padding-right: 5vw;
    grid-template-areas: 
    'a b c'
    'd e f';
    column-gap: 1vw;
    row-gap: 2vh;
}
.box1{
    grid-area: a;
    width: 1/3em;
}
.box2{
    grid-area: b;
}
.box3{
    grid-area: c;
}
.box4{
    grid-area: d;
}
.box5{
    grid-area: e;
}
.box6{
    grid-area: f;
}
.view-all{
    width: 100%;
    text-align: center;
}
.sectionFour{
    margin-top: 5vh;
    padding: 0 5vw 0 5vw;
}
.ourClients > h3, .contactMe > h3{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
}
.ourClients > p, .contactMe > p{
    font-size: 1vw;
    text-align: center;
    margin-bottom: 2vh;
}
.clientBrands{
    margin-bottom: 5vh;
}
.contactMe{
    margin-bottom: 5vh;
}
.contactForm{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.contactimg{
    width: 40%;
}
.contactInfo{
    width: 60%;
}
 @media screen and (min-width: 376px) and (max-width: 768px ) {
    .hero-text{
        margin-top: 50vh;
        margin-left: 6vw;
        max-width: 360px
    }
    /* .navbar{
        visibility: hidden;
   
    } */
    .hero-text > h1{
    
        font-size: 1.5rem;
        color: #000000;
    }
    .hero-text > p{
        margin-top: 3vh;
        font-size: .9rem;
        color: #b4b3b3;
}
} 



/* //mobile */
@media screen and (max-width: 375px ) {
    .hero{
        background-image: url(images/mobile-hero.png);
        background-size: cover;
        height: 100vh;
        
    }
    .navlist{
        display: none;
        visibility: hidden; 
    }
    .hero-text{
        margin-top: 55vh;
        margin-left: 6vw;
        max-width: 167px
    }
    .hero-text > h1{
    
        font-size: 1rem;
        color: white;
    }
    .hero-text > p{
        margin-top: 3vh;
        font-size: 3vw;
        color: white;
}
}
@media screen and (max-width: 512px){
    .navlist{
        display: none;
    }
    .navbar{
        margin: auto;
        width: 100%;
    }
    .hamburger{
        display: block;
        position: relative;
        background: none;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.25s;
    }
    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width:30px;
        height: 3px;
        background-color: black;
        transform: rotate(0);
        transition: all 0.5s;
    }
    @media screen and (max-width: 375px) {
        .hamburger-top,
        .hamburger-middle,
        .hamburger-bottom {
            background-color: white;
        }
    }
    .hamburger-middle{
        transform: translateY(10px);
    }
    .hamburger-bottom{
        transform: translateY(20px);
    }
    .open{
        transform: rotate(90deg);
        transform: translateY(0px);
    }
    .open .hamburger-top{
        transform: rotate(45deg) translateY(6px) translate(6px);
    }
    .open .hamburger-middle{
        display: none;
    }
    .open .hamburger-bottom{
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }
    /* .hide-ham{
        visibility: hidden;
    }
    .view-ham{
        display: flex;
        position: relative;
        top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: #f2f2f2;
        padding: 10px 0 10px 0;
        cursor: pointer;
    }
    .view{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .navlink{
        margin-top: 10px;
    } */
    
    .view .view-ham{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #f2f2f2;
        padding: 20px;
        position: absolute;
        width: 80%;
        visibility: visible;

    } 
    .hide-ham{
        visibility: hidden;
        
    }
    .navlink{
        margin-bottom: 20px;
    }
}